albumentations
deepsparse
fontTools
kornia
matplotlib
nltk
numpy
omegaconf
onnx
onnxruntime
opencv_python_headless
pandas
Pillow
protobuf
pycocotools
pytesseract
pytorch_metric_learning
PyYAML
requests
scikit_image
scipy
setuptools
shapely
sparseml
sparsezoo
symspellpy
timm
tqdm
transformers
wandb